<section id="training-plan">
  <div class="training-plan-container">
    <h2>Training Plans</h2>
    <h3>Choose the Best Plan for Your Growth</h3>
    <div class="scroll-container">
      <div class="plan-cards d-flex justify-content-between">
        <div class="plan-card">
          <h4>Online Training</h4>
          <p>Our online training programs provide unparalleled flexibility and convenience. Engage in direct
            one-on-one sessions with a personalized coach, all from the comfort of your home. Whether you're a
            beginner or a seasoned professional, our courses are designed to help you unlock your full potential.
            Join us today and start your journey to excellence!</p>
          <button class="plan-button">Enroll Now</button>
        </div>
        <div class="plan-card">
          <h4>Offline Training</h4>
          <p>For those who prefer a hands-on approach, our offline training programs offer an immersive and
            enriching experience. Held in our state-of-the-art facilities, these sessions feature live coaching and
            ample opportunities for practice and feedback. Training is conducted at our institute, with different
            chess players and a perfect playing environment to help you elevate your game to the next level.
          </p>
          <button class="plan-button">Enroll Now</button>
        </div>
        <div class="plan-card">
          <h4>Customized Programs</h4>
          <p>Not sure which training plan is right for you? No problem! Our team of experts will work with you to
            develop a customized program tailored to your unique goals, learning style, and skill level. Whether
            you're looking to sharpen your tactical skills or master the art of openings, middle games, and
            endgames, we've got you covered. Our coaches will provide personalized recommendations to
            ensure you get the most out of your training.</p>
          <button class="plan-button">Enroll Now</button>
        </div>
      </div>
    </div>
  </div>
</section>