<section id="accomplishments">
  <div class="accomplishments-container">
    <h2>Accomplishments Gallery</h2>
    <h3>Explore Our Milestones</h3>
    <div class="timeline">
      <div class="timeline-item" *ngFor="let accomplishment of accomplishmentData">
        <div class="timeline-content">
          <h4>{{ accomplishment.date }}</h4>
          <h5>{{ accomplishment.name }}</h5>
          <h5>{{ accomplishment.desc }}</h5>
          <div class="d-flex gap-2">
            <p>{{ accomplishment.otherInfo }}</p>
            <span>
              <a [href]="accomplishment.url" target="_blank">
                <i class="fas fa-link" style="color: #E8491D;"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>