#hero {
  background: url('https://media0.giphy.com/media/L4RZloecys3VCAojKs/giphy.gif?cid=6c09b95201befftujs0odoaql1bkcg8toqc7tjcpxg9ie264&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  position: relative;
  overflow: hidden;
  animation: fadeIn 2s ease-in-out;
}

#hero::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  z-index: 2;
  animation: slideInFromLeft 1.5s ease-in-out;
}

.hero-content h1 {
  font-size: 4em;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2em;
  margin-bottom: 40px;
}

.cta-buttons {
  margin-top: 20px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background: #e8491d;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;
  margin-right: 10px;
  cursor: pointer;
}

.cta-button.secondary {
  background: transparent;
  border: 1px solid #e8491d;
}

.cta-button:hover {
  background: #333;
}

.cta-button.secondary:hover {
  background: #e8491d;
  color: #fff;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.5em;
  }

  .hero-content p {
    font-size: 1em;
  }
}