  <section id="about">
    <div class="about-container">
        <h2>About the Academy</h2>
        <div class="about-content">
            <div class="about-text">
                <div class="about-section">
                    <h3>Our Mission</h3>
                    <p>
                        At Modern Knight Chess Academy, our mission is to inspire and empower chess enthusiasts of all ages and skill levels to reach new heights in their game. We believe that chess is not just a game, but a powerful tool for developing critical thinking, strategic planning, and intellectual growth.
                    </p>
                </div>
                <div class="about-section">
                    <h3>State-of-the-Art Facilities</h3>
                    <p>
                        Our academy is equipped with modern, spacious facilities designed to facilitate the perfect learning environment. From our well-stocked chess libraries to our high-tech analysis stations, every aspect of our academy is tailored to help our students excel.
                    </p>
                </div>
                <div class="about-section">
                    <h3>Experienced Coaching Team</h3>
                    <p>
                        Our coaching team is comprised of seasoned grandmasters and international masters who have dedicated their lives to the art of chess. They bring a wealth of knowledge, experience, and passion to each and every training session, ensuring our students receive the highest quality instruction.
                    </p>
                </div>
            </div>
            <div class="about-image">
                <img src="../../../assets/img/about.png" alt="About Us Image">
            </div>
        </div>
    </div>
</section>