<section id="reviews">
  <div class="reviews-container">
    <h2>Customer Reviews</h2>
    <h3>What Our Clients Say</h3>
    <div class="review-cards">
      <div class="review-card">
        <div class="review-content">
          <p>"We've received countless messages of gratitude and support from our students and their parents through our
            Whatsapp support channel, sharing their transformative experiences at the academy.
            "</p>
          <h4>Adhrith RVY-1466</h4>
        </div>
      </div>
      <div class="review-card">
        <div class="review-content">
          <p>"Visitors to our website have left overwhelmingly positive feedback, commending our comprehensive training
            programs, user-friendly interface, and commitment to excellence. "</p>
          <h4> Rian Rohal G - 1417</h4>
          <!-- <p class="review-meta">Website Feedback </p> -->
        </div>
      </div>
      <div class="review-card">
        <div class="review-content">
          <p>"Visitors to our website have left overwhelmingly positive feedback, commending our comprehensive training
            programs, user-friendly interface, and commitment to excellence. "</p>
          <h4> Rian Rohal G - 1417</h4>
        </div>
      </div>

      <div class="review-card">
        <div class="review-content">
          <p>"Visitors to our website have left overwhelmingly positive feedback, commending our comprehensive training
            programs, user-friendly interface, and commitment to excellence. "</p>
          <h4>Sri Nikhila Y - 1408</h4>
        </div>
      </div>
    </div>
  </div>
</section>