* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: #f4f4f4;
}

#contact {
  padding: 60px 20px;
  background-color: #1e1e1e;
  color: #f4f4f4;
  text-align: center;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto;
}

.contact-container h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.contact-container h3 {
  font-size: 1.5em;
  margin-bottom: 40px;
  color: #e8491d;
}

.contact-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
}

.contact-form {
  flex: 1;
  min-width: 300px;
}

.contact-info {
  flex: 1;
  min-width: 300px;
  margin-top: 20px;
  text-align: left;
  background-color: #2c2c2c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.contact-info p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.social-links {
  margin-top: 20px;
}

.social-link {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.5em;
  color: #f4f4f4;
  transition: color 0.3s ease-in-out;
}

.social-link:hover {
  color: #e8491d;
}

.social-link.facebook:hover {
  color: #3b5998;
}

.social-link.twitter:hover {
  color: #1da1f2;
}

.social-link.instagram:hover {
  color: #e4405f;
}

.social-link.linkedin:hover {
  color: #0077b5;
}

.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #f4f4f4;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  background-color: #444;
}

.submit-button {
  padding: 10px 20px;
  background: #e8491d;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.submit-button:hover {
  background: #333;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
    align-items: center;
  }

  .contact-form,
  .contact-info {
    width: 100%;
  }
}