<section id="contact">
  <div class="contact-container">
    <h2>Contact Us</h2>
    <h3>We'd love to hear from you</h3>
    <div class="contact-content">
      
      <div class="contact-form">
        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" [(ngModel)]="formData.name" required>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="formData.email" required>
          </div>
          <div class="form-group">
            <label for="message">Message</label>
            <textarea id="message" name="message" rows="5" [(ngModel)]="formData.message" required></textarea>
          </div>
          <button type="submit" class="submit-button">Send Message</button>
        </form>
      </div>

      <div class="contact-info">
        
        <div class="address">
          <p><strong>Addresses:</strong></p>
          <div *ngFor="let address of contactInfo.addresses">
            <p>{{ address.location }}</p>
            <div class="fs-2" style="margin-top: -15px;">
              <a [href]="address.googleMapsLink" target="_blank">
                <i class="fas fa-map-marker-alt" style="color: #E8491D;"></i>
              </a>
            </div>
          </div>
        </div>

        <p><strong>Phone:</strong> 
          <span *ngFor="let phone of contactInfo.phoneNumbers; let i = index">
            {{ phone }}<span *ngIf="i < contactInfo.phoneNumbers.length - 1">, </span>
          </span>
        </p>

        <p><strong>Email:</strong> 
          <span *ngFor="let email of contactInfo.emails; let i = index">
            {{ email }}<span *ngIf="i < contactInfo.emails.length - 1">, </span>
          </span>
        </p>

        <div class="social-links">
          <p><strong>Follow Us:</strong></p>
          <a [href]="contactInfo.socialLinks.facebook" target="_blank" class="social-link facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a [href]="contactInfo.socialLinks.twitter" target="_blank" class="social-link twitter">
            <i class="fab fa-twitter"></i>
          </a>
          <a [href]="contactInfo.socialLinks.instagram" target="_blank" class="social-link instagram">
            <i class="fab fa-instagram"></i>
          </a>
          <a [href]="contactInfo.socialLinks.linkedin" target="_blank" class="social-link linkedin">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        
      </div>
      
    </div>
  </div>
</section>
